<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.urbcomp.cupid.db.metadata.mapper.IndexMapper">
    <select id="selectAllByFid" resultType="org.urbcomp.cupid.db.metadata.entity.Index">
        SELECT *
        FROM sys_index
        WHERE table_id = #{fid} and delete_time = 0;
    </select>
    <select id="selectById" resultType="org.urbcomp.cupid.db.metadata.entity.Index">
        SELECT *
        FROM sys_index
        WHERE id = #{id}
        and delete_time = 0;
    </select>
    <select id="selectByFidAndName" resultType="org.urbcomp.cupid.db.metadata.entity.Index">
        SELECT *
        FROM sys_index
        WHERE table_id = #{fid}
        and name = #{name}
        and delete_time = 0
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.urbcomp.cupid.db.metadata.entity.Table">
        INSERT INTO sys_index(`table_id`, `name`, `index_type`, `fields_id_list`, `index_properties`) VALUE (#{index.tableId}, #{index.name}, #{index.indexType}, #{index.fieldsIdList}, #{index.indexProperties});
    </insert>
    <update id="update">
        UPDATE sys_index
        SET name=#{index.name},
        id = #{index.id},
        table_id = #{index.tableId},
        index_type = #{index.indexType},
        fields_id_list = #{index.fieldsIdList},
        index_properties = #{index.indexProperties}
        WHERE id = #{index.id}
        and delete_time = 0;
    </update>
    <delete id="deleteById">
        UPDATE sys_index
        SET delete_time = current_timestamp()
        WHERE id = #{id};
    </delete>
    <delete id="deleteByFid">
        UPDATE sys_index
        SET delete_time = current_timestamp()
        WHERE table_id = #{fid};
    </delete>
    <delete id="clean">
        DELETE
        FROM sys_index
        WHERE (delete_time != 0 AND TIMESTAMPDIFF(SECOND,delete_time, current_timestamp()) > #{expiredTimeLenS})
           OR (table_id in (SELECT id FROM sys_table WHERE delete_time != 0))
    </delete>
</mapper>
