<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <package name="org.urbcomp.start.db.metadata.entity"/>
    </typeAliases>
    <!-- connection environment -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property value="20" name="poolMaximumActiveConnections"/>
                <property value="true" name="poolPingEnabled"/>
                <property value="select 1 from dual" name="poolPingQuery"/>
                <property value="28799000" name="poolPingConnectionsNotUsedFor"/>
                <property name="driver" value="${meta.jdbc.driver}"/>
                <property name="url" value="${meta.jdbc.url}"/>
                <property name="username" value="${meta.jdbc.username}"/>
                <property name="password" value="${meta.jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- mapper xml -->
    <mappers>
        <package name="org.urbcomp.start.db.metadata.mapper"/>
    </mappers>
</configuration>