<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.urbcomp.start.db.metadata.mapper.UserMapper">
    <select id="selectAllByFid" resultType="org.urbcomp.start.db.metadata.entity.User">
        SELECT *
        FROM sys_user
        WHERE delete_time = 0
    </select>
    <select id="selectById" resultType="org.urbcomp.start.db.metadata.entity.User">
        SELECT *
        FROM sys_user
        WHERE id = #{id}
          and delete_time = 0
    </select>
    <select id="selectByFidAndName" resultType="org.urbcomp.start.db.metadata.entity.User">
        SELECT *
        FROM sys_user
        WHERE `name` = #{name}
          and delete_time = 0
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.urbcomp.start.db.metadata.entity.User">
        INSERT INTO sys_user(`name`, `password`) VALUE (#{user.name}, md5(#{user.password}))
    </insert>
    <update id="update">
        UPDATE sys_user
        SET name=#{user.name},
            password=md5(#{user.password})
        WHERE id = #{user.id}
          and delete_time = 0
    </update>
    <delete id="deleteById">
        UPDATE sys_user
        SET delete_time = current_timestamp()
        WHERE id = #{id}
    </delete>
    <delete id="clean">
        DELETE
        FROM sys_user
        WHERE delete_time != 0 AND TIMESTAMPDIFF(SECOND,delete_time, current_timestamp()) > #{expiredTimeLenS}
    </delete>
</mapper>
