<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.urbcomp.start.db.metadata.mapper.TableMapper">
    <select id="selectAll" resultType="org.urbcomp.start.db.metadata.entity.Table">
        SELECT *
        FROM sys_table;
    </select>
    <select id="selectById" resultType="org.urbcomp.start.db.metadata.entity.Table">
        SELECT *
        FROM sys_table
        WHERE id = #{id};
    </select>
    <select id="selectAllId" resultType="java.lang.Long">
        SELECT id
        FROM sys_table
    </select>
    <select id="selectAllName" resultType="java.lang.String">
        SELECT distinct name
        from sys_table
    </select>
    <select id="selectByName" resultType="org.urbcomp.start.db.metadata.entity.Table">
        SELECT *
        FROM sys_table
        WHERE name = #{name}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="org.urbcomp.start.db.metadata.entity.Table">
        INSERT INTO sys_table(`db_id`, `name`, `storage_engine`) VALUE (#{table.dbId}, #{table.name}, #{table.storageEngine});
    </insert>
    <update id="update">
        UPDATE sys_table
        SET name=#{table.name},
        id = #{table.id},
        db_id = #{table.dbId}
        WHERE id = #{table.id};
    </update>
    <delete id="deleteById">
        DELETE
        FROM sys_table
        WHERE id = #{id};
    </delete>
</mapper>